---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="page">
    <div class="page-wrapper">

    {% include photoswipe.html %}

    {% include hero.html %}

    {% include contact.html %}

    {% include almyrida-photoswipe-jpg.html %}

    {% include rooms-photoswipe-jpg.html %}

     {% include reviews.html %}

    {% include reservation.html %}

    {% include map-mapbox.html %}

        </div>
    </div>


 <!-- Js all-->
 <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
 <script type="text/javascript" src="/assets/js/js-all.js"></script>
</body>
</html>